/TelegramBotWebApi/appsettings.json
/TelegramBotWebApi/appsettings.Development.json
/TelegramBotWebApi/log4net.config
/Core/Utilities/FTP/Concrete/FTPModule.cs
/DataAccess/Contexts/ConnectionStrings.cs

.vs
.vscode
/TelegramBotWebApi/bin
/TelegramBotWebApi/obj
/Business/bin
/Business/obj
/Core/bin
/Core/obj
/Entities/bin
/Entities/obj
/DataAccess/bin
/DataAccess/obj
/DataAccess/Migrations
/TelegramBotCore/bin
/TelegramBotCore/obj